.wrapper {
    width: 100%;
    overflow: hidden;
}

.nav {
    position: absolute;
    height: 100%;
    width: 99%;
    background-color: black;
    background-size: 100% 100%;
    animation: slider 9s infinite linear;
}

@keyframes slider {
    0% {
        background-image: url('edu.nav1.jpg')
    }

    25% {
        background-image: url('edu.nav2.jpg');
    }

    50% {
        background-image: url('edu.nav3.jpg');
    }

    75% {
        background-image: url('edu.nav1.jpg');
    }

    100% {
        background-image: url('edu.nav2.jpg');
    }
}

@media screen AND (max-width:800px) {
    .nav1> ul {
        display: flex;
        flex-direction: column;
    }
}

.nav1>ul>li>b>a {
    color: white;
    text-decoration: none;
}

nav>button>a {
    color: white;
    text-decoration: none;
}
.nav h1 {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    color: #C7BEA2;
    margin-top: 9%;
    text-decoration: underline;

}
.nav1 ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15%;
    margin-left: 12%;
    list-style: none;
    font-size: larger;
    color: white;
}
.nav ul li b a:hover {
    color: #cbb58b;
}
.nav2 {
    margin-left: 28%;
    margin-right: 28%;
    color: white;
}
.nav2 h1 {
    font-size: -100%;
}
.nav3 {
    display: block;
    align-items: center;
    height: 50px;
    width: 12%;
    font-size: larger;
    background: none;
    border-color: white;
    margin-left: 47%;
    margin-right: 53%;
    margin-top: 3%;
    text-decoration: none;
    color: white;
}
.head {
    margin-left: 15%;
    margin-right: 15%;
}
.head h1 {
    display: flex;
    justify-content: center;
    text-align: center;
}
.head h3 {

    display: flex;
    justify-content: center;
    text-align: center;
}
.headimg {
    margin-left: 40%;
    margin-right: 30%;
    margin-bottom: 5%;
}
.prntcrsmain {
    background-color: #f2f2f2;
}
.prntcrs {
    margin-left: 6%;
    margin-right: 6%;
    padding-top: 5%;
    padding-bottom: 8%;
}
.prntimg {
    display: flex;
    justify-content: space-between;

}
.prntimg h3 {
    padding: 4%;
}
.prntimg h4 {
    color: #2D2D2D;
    padding: 2%;
}
.crsimg1 {
    background-color: white;
    font-size: larger;
    margin: 2%;
}
.crsimg2 {
    background-color: white;
    font-size: larger;
    margin: 2%;
}
.crsimg3 {
    background-color: white;
    font-size: larger;
    margin: 2%;
}
.crsimg4 {
    background-color: white;
    font-size: larger;
    margin: 2%;
}
.btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 45%;
    margin-right: 45%;
    border-color: lightsalmon;
    color: lightsalmon;
    height: 40px;
    width: 16%;
    font-size: medium;
}


.campmain {
    margin-left: 5%;
    margin-right: 5%;
}
.camp1 {
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
    color: grey;
}
.campA h3 {
    margin-left: 9%;
}
.campA img {
    margin-left: 10%;
}
.campB h3 {
    margin-left: 9%;
}
.campB img {
    margin-left: 9%;
}
.campC h3 {
    margin-left: 4%;
}
.campC img {
    margin-left: 4%;
    margin-right: 2%;
}
.camp2 {
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
    color: grey;
}
.campD h3 {
    margin-left: 10%;
}
.campD img {
    margin-left: 10%;
}
.campE h3 {
    margin-left: 9%;
}
.campE img {
    margin-left: 7%;
}
.campF h3 {
    margin-left: 6%;
}
.campF img {
    margin-left: 4%;
    margin-right: 2%;
}
.camp3 {
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
    margin-right: 32%;
    color: grey;
}
.campG h3 {
    margin-left: 10%;
}
.campG img {
    margin-left: 10%;
}
.campH h3 {
    margin-left: 9%;
}
.campH img {
    margin-left: 7%;
}
.blog {
    text-align: center;
    font-size: xx-large;
}
.blog1 {
    display: flex;
    justify-content: center;
}
.blog1 h3 {
    margin-left: 7%;
    display: flex;
    flex-direction: column;
    text-align: start;
}
.blog2 {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}


.abt1 {
    display: flex;
    margin-left: 9%;
    margin-right: 9%;
    font-size: larger;
}
.abtA h3 {
    color: #292B2C;
}
.abt2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.abt2 h3 {
    color: #292B2C;
    font-size: larger;
}
.tchr {
    display: flex;
    justify-content: center;
    text-align: center;
}
.abt3 {
    display: flex;
    justify-content: center;
}
.abt4 {
    display: flex;
    justify-content: center;
}
.abtD {
    margin-left: 8%;
}
.abtF {
    margin-left: 8%;
}


.admmain {
    margin-left: 10%;
    margin-right: 10%;
    font-size: x-large;
}
.admmain h4 {
    color: #292B2C;
}
.adm1 h1 {
    display: flex;
    justify-content: center;
}
.adm2 {
    padding-left: 5%;
    font-size: x-large;
}
.frm {
    background-color: rgb(158, 157, 157);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: xx-large;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 5%;
    margin-bottom: 7%;
}


.cntctmain {
    justify-content: center;
    text-align: center;
}
.cntct {
    display: flex;
    justify-content: space-between;
    background-color: burlywood;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 8%;
    padding-bottom: 8%;
    color: white;
    text-decoration: none;
}
.cntct1 {
    font-size: x-large;
    margin-left: 16%;
    border-radius: grey;
    text-align: start;
}
.cntct1> button a {
    text-decoration: none;
    color: black;
    font-size: larger;
}
.cntct2 {
    margin-right: 16%;
    border-radius: grey;
    text-align: start;
}


.acdmcmain {
    margin-left: 8%;
    margin-right: 8%;
}
.acdmcmain h1 {
    display: flex;
    justify-content: center;
}
.acdmcmain h3 {
    display: flex;
    text-align: center;
    color: #3f3f3f ;
}
















.footermain {
    background-color: #292b2c;
}
.footermain p {
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 5%;
    font-size: x-large;
}
.footmain1 {
    display: flex;
    justify-content: center;
    padding: 3%;
}
.srch {
    height: 8vh;
    width: 35%;
    background: none;
    color: #fff;
    background-color: #3f3f3f;
    font-size: large;
}
.btn {
    margin-left: 3%;
    height: 5vh;
    margin-top: 1%;
    background-color: #cbb58b;
    color: white;
}
.footmain2 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10%;
}
.footmain2 h2 {
    color: white;
}
.footmain2 h3 {
    color: #C7BEA2;
}
.foot1 {
    margin-left: 12%;
    margin-top: 7%;
}
.foot1 h3 {
    margin-left: 9%;
    font-size: larger;
}
.foot2 {
    margin-top: 7%;
}
.foot3 {
    margin-top: 7%;
}
.foot4 {
    margin-top: 7%;
    margin-right: 15%;
}